<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #fcebbd;
			color: #333;
			text-align: center;
			padding: 50px;
		}
		.left {
			text-align: left;
			color: #222;
			padding: 30px;
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
		}
		h1, h2 {
			color: #A0522D;
		}
	</style>